.solid-button-container {
  display: flex;
  position: relative;
}
.solid-button-button {
  color: var(--dl-color-gray-white);
  border: none;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: 50px;
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-primary-100);
}

.outline-button-container {
  display: flex;
  position: relative;
}
.outline-button-button {
  color: var(--dl-color-gray-black);
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-primary-100);
  border-width: 1px;
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: 50px;
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-white);
}

.place-card-container {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.place-card-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
}
.place-card-container1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
}
.place-card-text {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: var(--dl-space-space-halfunit);
}
.place-card-text1 {
  font-size: 12px;
  max-width: 250px;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.place-card-link {
  display: contents;
}
.place-card-component {
  text-decoration: none;
}
@media(max-width: 767px) {
  .place-card-container {
    width: 200px;
  }
}
@media(max-width: 479px) {
  .place-card-container {
    width: 300px;
  }
}

.landing-page-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.landing-page-top-container {
  width: 100%;
  height: 365px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url('https://www.eetimes.com/wp-content/uploads/shutterstock_1394052911.jpg?fit=2500%2C1406');
  background-position: 0% 40%;
}
.landing-page-navbar {
  width: 100%;
  display: flex;
  max-width: 1000px;
  align-items: center;
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.landing-page-right-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-links-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-link {
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.landing-page-link1 {
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.landing-page-link2 {
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.landing-page-link3 {
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.landing-page-image {
  width: 223px;
  height: 68px;
  object-fit: cover;
}
.landing-page-burger-menu {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-burger-menu1 {
  width: 24px;
  height: 24px;
}
.landing-page-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.landing-page-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-icon03 {
  width: 24px;
  height: 24px;
}
.landing-page-right-side1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.landing-page-links-container1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
  flex-direction: column;
  justify-content: space-between;
}
.landing-page-text {
  margin-bottom: 8px;
}
.landing-page-text01 {
  margin-bottom: 8px;
}
.landing-page-text02 {
  margin-bottom: 8px;
}
.landing-page-link4 {
  display: contents;
}
.landing-page-follow-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.landing-page-text04 {
  padding-bottom: var(--dl-space-space-halfunit);
}
.landing-page-icons-container {
  width: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-link5 {
  display: contents;
}
.landing-page-icon05 {
  width: 24px;
  height: 24px;
}
.landing-page-link6 {
  display: contents;
}
.landing-page-icon07 {
  width: 24px;
  height: 24px;
}
.landing-page-link7 {
  display: contents;
}
.landing-page-icon09 {
  width: 24px;
  height: 24px;
}
.landing-page-content-container {
  top: 166px;
  left: 216px;
  width: 891px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-text05 {
  color: var(--dl-color-gray-white);
  text-transform: capitalize;
  background-color: rgba(0, 0, 0, 0.55);
}
.landing-page-subheading {
  width: 876px;
  background-color: rgba(0, 0, 0, 0.55);
}
.landing-page-text06 {
  color: var(--dl-color-gray-white);
  font-size: 20px;
}
.landing-page-hero {
  width: 100%;
  height: 723px;
  display: flex;
  max-width: 1400px;
  min-height: 80vh;
  align-items: center;
  padding-left: 32px;
  padding-right: 32px;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-image1 {
  width: 400px;
  height: 623px;
  object-fit: cover;
}
.landing-page-container1 {
  display: flex;
  margin-left: 16px;
  flex-direction: column;
}
.landing-page-text08 {
  font-size: 2.8rem;
  text-transform: capitalize;
}
.landing-page-text09 {
  font-size: 20px;
  margin-top: var(--dl-space-space-unit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.landing-page-text10 {
  margin-top: 32px;
  margin-bottom: 32px;
  padding-right: 48px;
}
.landing-page-blog-post-card {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: 1400px;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.landing-page-blog-post-card:hover {
  transform: scale(1.02);
}
.landing-page-image2 {
  width: 1169px;
  height: 458px;
  object-fit: cover;
}
.landing-page-container2 {
  display: flex;
  padding: 32px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.landing-page-text17 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 32px;
}
.landing-page-text18 {
  color: var(--dl-color-gray-black);
  text-align: justify;
  font-weight: 400;
  margin-bottom: 32px;
}
.landing-page-main {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-quadruple);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  justify-content: flex-start;
}
.landing-page-cards-container {
  width: 100%;
  display: flex;
  grid-gap: var(--dl-space-space-doubleunit);
  flex-wrap: wrap;
  max-width: 1000px;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-banner {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 48px;
  padding-left: 48px;
  padding-right: 48px;
  flex-direction: column;
  justify-content: space-between;
}
.landing-page-text20 {
  font-size: 3rem;
  text-align: center;
}
.landing-page-text21 {
  max-width: 1400px;
  margin-top: 32px;
  text-align: center;
  margin-bottom: 32px;
}
.landing-page-banner1 {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  align-items: center;
  padding-top: 30px;
  justify-content: space-between;
}
.landing-page-container3 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-right: 96px;
  flex-direction: column;
  justify-content: space-between;
}
.landing-page-text24 {
  text-align: left;
  font-weight: 600;
  margin-bottom: 28px;
}
.landing-page-text25 {
  margin-right: 48px;
}
.landing-page-image3 {
  width: 412px;
  height: 453px;
  object-fit: cover;
  flex-shrink: 0;
}
.landing-page-banner2 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 14px;
  flex-direction: column;
  background-size: cover;
  justify-content: space-between;
  background-image: url('https://www.semshred.com/wp-content/uploads/2022/06/Comm-Home-Mobile.jpg');
  background-position: center;
}
.landing-page-text35 {
  color: var(--dl-color-gray-white);
  font-size: 2.7rem;
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
  background-color: rgba(0, 0, 0, 0.41);
}
.landing-page-text39 {
  max-width: 1400px;
  text-align: center;
  margin-bottom: 32px;
  background-color: rgba(0, 0, 0, 0.4);
}
.landing-page-text40 {
  color: var(--dl-color-gray-white);
  font-weight: 700;
}
@media(max-width: 991px) {
  .landing-page-hero {
    padding: 48px;
    flex-direction: column;
  }
  .landing-page-image1 {
    order: 2;
  }
  .landing-page-container1 {
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 32px;
  }
  .landing-page-text08 {
    text-align: center;
  }
  .landing-page-text09 {
    text-align: center;
  }
  .landing-page-text10 {
    text-align: center;
    padding-left: 64px;
  }
  .landing-page-image2 {
    height: 350px;
  }
  .landing-page-cards-container {
    justify-content: center;
  }
  .landing-page-banner1 {
    flex-direction: column;
  }
  .landing-page-container3 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: 48px;
  }
  .landing-page-text25 {
    text-align: center;
    margin-left: 48px;
  }
  .landing-page-image3 {
    width: 288px;
    height: 288px;
  }
  .landing-page-text39 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .landing-page-right-side {
    display: none;
  }
  .landing-page-burger-menu {
    display: flex;
  }
  .landing-page-content-container {
    align-items: center;
  }
  .landing-page-text05 {
    font-size: 2.5rem;
  }
  .landing-page-hero {
    padding-left: 32px;
    padding-right: 32px;
  }
  .landing-page-image1 {
    width: 80%;
  }
  .landing-page-main {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .landing-page-banner {
    padding-left: 32px;
    padding-right: 32px;
  }
  .landing-page-text21 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .landing-page-banner1 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .landing-page-text25 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .landing-page-banner2 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .landing-page-text39 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .landing-page-text05 {
    font-size: 2rem;
    text-align: center;
  }
  .landing-page-subheading {
    font-size: 1.3rem;
    text-align: center;
  }
  .landing-page-hero {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .landing-page-container1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .landing-page-text10 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .landing-page-banner {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .landing-page-banner1 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .landing-page-image3 {
    width: 192px;
    height: 192px;
  }
  .landing-page-banner2 {
    padding-top: 48px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 48px;
  }
}
